.movie-info {
  flex: 1;
}

.movie-tagline {
  color: #aaa;
}

.watch-trailer-btn {
  background: #e50914;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin: 15px 0;
  transition: 0.2s ease;
}

.watch-trailer-btn:hover {
  opacity: 0.9;
}
